:host
  display flex

input
  outline none
  border none
  flex 1 1 auto
  background rgb(33, 36, 41)
  color rgb(255, 255, 255)
  font-size 24px
  overflow hidden
  text-overflow ellipsis
  appearance textfield

.max-button
  height 28px
  background rgba(21, 61, 111, 0.44)
  border 1px solid rgba(21, 61, 111, 0.44)
  border-radius 0.5rem
  cursor pointer
  color rgb(109, 168, 255)
  &:focus
    outline none
  &:hover
    border 1px solid rgb(33, 114, 229)
