<div class="inner-container">
  <div class="info" *ngIf="token">
    <div class="content">
      <div class="title">{{ token.name }}</div>
      <div class="balance">
        Balance:
        <span *ngIf="token">{{ token.balance | bignumber:decimals }}</span>
      </div>
    </div>
  </div>
  <div class="input-container">
    <input [ngModel]="amount | bignumber:decimals" (ngModelChange)="input$.next($event)" [disabled]="disabled" #amountInput />
    <button class="max-button" [disabled]="disabled" (click)="setMaxAmount()">MAX</button>
  </div>
</div>
