.border
  border-radius 20px
  border 1px solid rgb(44, 47, 54)
  background-color rgb(33, 36, 41)
  &.bad-input
    border-color red

.header
  display flex
  padding 0.75rem 1rem 0px
  color rgb(195, 197, 203)
  justify-content space-between


.content {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.amount-input
  padding 0.75rem 0.75rem 1rem
