.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.h-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 2;
}
.hc-container {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  // align-items: center;
  padding: 1rem 1rem 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
}

.h-logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.h-logo-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: auto;
}
.hll-text {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  img {
    margin-left: 4px;
    margin-top: 4px;
  }
}

.h-info {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
