.header {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.h-container {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  top: 0px;
  position: absolute;
  z-index: 2;
}
.hc-container {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  // align-items: center;
  padding: 1rem 1rem 0px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-start;
}

.h-logo {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.h-logo-link {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  pointer-events: auto;
}
.hll-text {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: flex;
  padding: 0px;
  -webkit-box-align: center;
  align-items: center;
  width: fit-content;
  white-space: nowrap;
  img {
    margin-left: 4px;
    margin-top: 4px;
  }
}

.h-info {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
}
.hi-account {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.hic-account {
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  background-color: rgb(64, 68, 79);
  border-radius: 12px;
  white-space: nowrap;
  width: 100%;
  pointer-events: auto;
}
.hicc-balance {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  padding-left: 0.75rem;
  padding-right: 0.5rem;
  font-weight: 500;
  flex-shrink: 0;
}
.hicc-connected {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  appearance: none;
  line-height: inherit;

  text-align: center;
  outline: none;
  text-decoration: none;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  font-size: 16px;
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
  user-select: none;
  background-color: rgb(44, 47, 54);
  border: 1px solid rgb(64, 68, 79);
  color: rgb(255, 255, 255);
  font-weight: 500;
  &:hover {
    background-color: rgb(55, 59, 68);
  }
}
.hiccc-account {
  user-select: none;
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 0.5rem 0px 0.25rem;
  font-size: 1rem;
  width: fit-content;
  font-weight: 500;
  text-align: center;
  color: rgb(255, 255, 255);
}
.network {
  white-space: nowrap;
  width: fit-content;
  margin-left: 10px;
  pointer-events: auto;
  box-sizing: border-box;
  & > div {
    box-sizing: border-box;
    margin: 0px 10px 0px 0px;
    min-width: 0px;
    background-color: rgba(243, 132, 30, 0.05);
    color: rgb(243, 132, 30);
    font-weight: 500;
    width: fit-content;
    border-radius: 12px;
    padding: 8px 12px;
  }
}
.connect-account {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  .ca-content {
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgb(33, 36, 41);
    border-radius: 12px;
    white-space: nowrap;
    width: 100%;
    pointer-events: auto;
  }
  .connect-wallet {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    appearance: none;

    line-height: inherit;
    text-align: center;
    outline: none;
    text-decoration: none;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    font-size: 16px;
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
    user-select: none;
    font-weight: 500;
    background-color: rgba(21, 61, 111, 0.44);
    border: 1px solid rgba(21, 61, 111, 0.44);
    color: rgb(109, 168, 255);
    &:hover {
      border: 1px solid rgba(49, 95, 154, 0.44);
      color: rgb(83, 153, 255);
      background-color: rgba(55, 107, 173, 0.44);
    }
    .cw-text {
      flex: 1 1 auto;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin: 0px 0.5rem 0px 0.25rem;
      font-size: 1rem;
      width: fit-content;
      font-weight: 500;
    }
  }
}
