<span class="header">Your position</span>
<div class="pool-info">
  <div class="token-icons">
    🤔🤔
  </div>
  <span class="token-text-title">USDT/USDJ</span>
  <app-value class="token-text" [value]="position.lpToken.balance" [decimals]="position.lpToken.decimals "></app-value>
</div>
<div class="pool-detail">
  <div class="pool-detail-item">
    <span>USDT:</span>
    <span>{{ position.pooledTokens.usdt.balance | bignumber:position.pooledTokens.usdt.decimals }}</span>
  </div>
  <div class="pool-detail-item">
    <span>USDJ:</span>
    <span>{{ position.pooledTokens.usdj.balance | bignumber:position.pooledTokens.usdj.decimals }}</span>
  </div>
</div>
