:host
  display grid
  row-gap 12px
  border-radius 16px
  padding 1.25rem
  background-color rgb(64, 68, 79)

.header
  font-size 16px

.pool-info
  display flex
  flex-wrap wrap
  .token-text
    font-size 20px

.token-icons
  display flex
  margin-right 14.6667px

.token-other
  width 20px
  height 20px

.token-logo
  width 20px
  height 20px
  box-shadow rgba(0, 0, 0, 0.075) 0px 6px 10px
  border-radius 24px

.pool-detail
  display grid
  row-gap 8px
  color rgb(136, 141, 155)
  font-size 16px
  .pool-detail-item
    display flex
    justify-content space-between
