<div class="r-position">
  <div class="rp-content">
    <div class="rpc-content">
      <div class="rp-list">
        <div class="rpl-list">
          <div class="rp-title">Your position</div>
        </div>
      </div>
      <div class="rp-list">
        <div class="rpl-list">
          <div class="rp-token">
            🤔🤔
          </div>
          <div class="token-text">USDT/USDJ</div>
        </div>
        <div class="rpl-list">
          <div class="token-text">{{ position.lpToken.balance | bignumber:position.lpToken.decimals }}</div>
        </div>
      </div>
      <div class="rp-detail">
        <div class="rp-list">
          <div class="rpd-symbol">USDT:</div>
          <div class="rpl-list">
            <div class="rpd-amount">{{ position.pooledTokens.usdt.balance | bignumber:position.pooledTokens.usdt.decimals }}</div>
          </div>
        </div>
        <div class="rp-list">
          <div class="rpd-symbol">USDJ:</div>
          <div class="rpl-list">
            <div class="rpd-amount">{{ position.pooledTokens.usdj.balance | bignumber:position.pooledTokens.usdj.decimals }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
