<div class="r-position">
  <div class="rp-content">
    <div class="rpc-content">
      <div class="rp-list">
        <div class="rpl-list">
          <div class="rp-title">Your position</div>
        </div>
      </div>
      <div class="rp-list">
        <div class="rpl-list">
          <div class="rp-token">
            🤔🤔
          </div>
          <div class="token-text">TRX/WTRX</div>
        </div>
        <div class="rpl-list">
          <div class="token-text">100</div>
        </div>
      </div>
      <div class="rp-detail">
        <div class="rp-list">
          <div class="rpd-symbol">TRX:</div>
          <div class="rpl-list">
            <div class="rpd-amount">100</div>
          </div>
        </div>
        <div class="rp-list">
          <div class="rpd-symbol">WTRX:</div>
          <div class="rpl-list">
            <div class="rpd-amount">100</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>