:host
  display grid
  row-gap 20px

.arrow
  text-align center
  user-select none

.border
  border-radius 20px
  border 1px solid rgb(44, 47, 54)
  background-color rgb(33, 36, 41)

.header
  display flex
  padding 0.75rem 1rem 0px
  color rgb(195, 197, 203)
  justify-content space-between

.target-amount
  padding 0.75rem 0.75rem 1rem
  flex 1 1 auto
  background rgb(33, 36, 41)
  color rgb(255, 255, 255)
  font-size 24px
  overflow hidden
  text-overflow ellipsis
  appearance textfield

.info
  display flex
  justify-content space-between
  color rgb(195, 197, 203)

.price-toggle {
  height: 22px;
  width: 22px;
  background-color: rgb(44, 47, 54);
  border: none;
  border-radius: 50%;
  padding: 0.2rem;
  font-size: 0.875rem;
  font-weight: 400;
  margin-left: 0.4rem;
  cursor: pointer;
  color: rgb(195, 197, 203);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  float: right;
  user-select: none;
  outline: none;
  .pt-icon {
    width: 14px;
    height: 14px;
  }
}
