<app-token-input [text]="input" [token]="from" (amountChange)="inputChange.emit($event)" *ngIf="from">
  <span name="header">From</span>
</app-token-input>
<div class="arrow" (click)="pairSwitch()">
  <mat-icon>arrow_downward</mat-icon>
</div>
<div class="border" *ngIf="to">
  <div class="header">
    <span>To</span>
    <span>Balance: {{ to.balance | bignumber:to.decimals}}</span>
  </div>
  <div class="target-amount">
    <span class="target-amount-number">{{ targetAmount | bignumber:to.decimals }}</span>
    <app-token-icon [token]="to.address"></app-token-icon>
    <span>{{ to.name }}</span>
  </div>
</div>
<div class="info">
  <div>Price</div>
  <div *ngIf="price && from && to">
    {{ price }} {{ from.name }} per {{ to.name }}
    <button class="price-toggle" (click)="priceSwitchClicked.emit()">
      <mat-icon>sync</mat-icon>
    </button>
  </div>
</div>
<div class="info">
  <div>Slippage Tolerance</div>
  <div>0.5%</div>
</div>

<button class="main-button" [disabled]="isApproving" (click)="approve()" *ngIf="shouldApprove">
  {{ isApproving ? 'Approving' : 'Approve'}}
</button>
<button class="main-button" [disabled]="isSwapping" (click)="swap()" *ngIf="!shouldApprove">
  {{ isSwapping ? 'Swapping' : 'Swap' }}
</button>
