<swap-or-pool-nav></swap-or-pool-nav>
<div class="content">
  <div class="liquidity">
    <div class="l-header">
      <div class="lh-title">Your Liquidity</div>
      <help-tooltip matTooltipClass="tooltip" matTooltip="When you add liquidity, you are given pool tokens that represent your share. If you don’t see a pool you joined in this list, try importing a pool below." matTooltipPosition="left"></help-tooltip>
    </div>
    <div class="l-list">
      <app-liquidity-info [position]="position" *ngIf="position$ | async as position; else noLiquidity"></app-liquidity-info>
      <ng-template #noLiquidity>
        <div class="ll-empty">No liquidity found.</div>
        <a
          id="join-pool-button"
          class="join-pool-button"
          routerLink="/add"
        >
          <div class="jpb-text">{{ 'buttons.addLiquidity' | translate }}</div>
        </a>
      </ng-template>
    </div>
  </div>
</div>
