@import './common.styl';


@font-face {
  font-family: 'Inter var';
  src: url(../font/Inter-Var.ttf);
}

html {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 47, 54);
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(33, 114, 229, 0.1) 0%,
      rgba(33, 36, 41, 0) 100%);
  font-family: "Inter var", sans-serif;
  background-color: transparent;
}

html,
input,
textarea,
button {
  letter-spacing: -0.018em;
  font-family: "Inter var", sans-serif;
}

.el-notification {
  overflow-wrap: anywhere;
}

.el-notification__content {
  text-align: left;
}

.green {
  color: rgb(39, 174, 96);
}

.orange {
  color: rgb(243, 132, 30);
}

.red {
  color: rgb(255, 104, 113);
}

.while {
  color: rgb(255, 255, 255);
}


.connect-wallet-modal .mat-dialog-container,
.account-modal .mat-dialog-container,
.transcation-modal .mat-dialog-container,
.confirm-swap-modal .mat-dialog-container
  padding 0;
  border-radius: 20px;
  background-color: transparent;