@import './common.styl';

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../font/Material-Icons.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


@font-face {
  font-family: 'Inter var';
  src: url(../font/Inter-Var.ttf);
}

html {
  color: rgb(255, 255, 255);
  background-color: rgb(44, 47, 54);
  font-size: 16px;
}

body {
  min-height: 100vh;
  background-position: 0px -30vh;
  background-repeat: no-repeat;
  background-image: radial-gradient(50% 50% at 50% 50%,
      rgba(33, 114, 229, 0.1) 0%,
      rgba(33, 36, 41, 0) 100%);
  font-family: "Inter var", sans-serif;
  background-color: transparent;
}

html,
input,
textarea,
button {
  letter-spacing: -0.018em;
  font-family: "Inter var", sans-serif;
}

.el-notification {
  overflow-wrap: anywhere;
}

.el-notification__content {
  text-align: left;
}

.green {
  color: rgb(39, 174, 96);
}

.orange {
  color: rgb(243, 132, 30);
}

.red {
  color: rgb(255, 104, 113);
}

.while {
  color: rgb(255, 255, 255);
}


.connect-wallet-modal .mat-dialog-container,
.account-modal .mat-dialog-container,
.transcation-modal .mat-dialog-container,
.confirm-swap-modal .mat-dialog-container,
.confirm-supply-modal .mat-dialog-container
  padding 0;
  border-radius: 20px;
  background-color: transparent;



.mat-tooltip.tooltip
  font-size: 12px;
  max-width: 230px;
  z-index: 9999;
  transition: visibility 150ms linear 0s, opacity 150ms linear 0s;
  background: rgb(44, 47, 54) !important;
  border: 1px solid rgb(64, 68, 79);
  color: rgb(195, 197, 203) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px 0px;
  border-radius: 8px;
  padding: 0.6rem 1rem;
  line-height: 150%;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 16px;