.box-header {
  display: flex;
  flex-flow: row nowrap;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 3rem;
  justify-content: space-evenly;
  .fph-content {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    width: 100%;
    display: flex;
    padding: 1rem;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    a {
      svg {
        color: rgb(255, 255, 255);
      }
    }
  }
}
.fph-title {
  font-weight: 500;
  font-size: 20px;
}