<div class="container">
  <div class="content-box swap-box">
    <swap-or-pool-nav></swap-or-pool-nav>
    <div id="swap-page" class="swap-page">
      <!-- swap content -->
      <div class="sp-content">
        <app-token-amount-input [token]="from$ | async" [(amount)]="input"></app-token-amount-input>
        <div class="sac-icon" (click)="pairSwitch$.next()">
          <mat-icon>arrow_downward</mat-icon>
        </div>
        <app-token-amount-input [token]="to$ | async" [amount]="targetAmount$.value" [disabled]="true"></app-token-amount-input>
        <div class="swap-info">
          <div *ngIf="true">
            <div class="info-content" *ngIf="true">
              <div class="sc-content">
                <div class="scc-text">Price</div>
                <div class="scc-text">
                  {{ price$ | async }} {{ (from$ | async).name || '' }} per {{ (to$ | async).name || '' }}
                  <button class="price-toggle" (click)="priceDirectionSwitch$.next()">
                    <mat-icon>sync</mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div class="info-content" *ngIf="true">
            <div class="sc-content">
              <div class="scc-text">Slippage Tolerance</div>
              <div class="scc-text">0.5%</div>
            </div>
          </div>
        </div>

      </div>

      <!-- swap button -->
      <div class="swap-button-content">
        <!-- 需要判断是否链接钱包 -->
        <!-- <button class="main-button" *ngIf="true">Connect Wallet</button> -->
        <button class="main-button" [disabled]="isApproving" (click)="approve()" *ngIf="shouldApprove$ | async">
          {{ isApproving ? 'Approving' : 'Approve'}}
        </button>
        <button class="main-button" [disabled]="input.eq(0) || isSwapping" (click)="swap()" *ngIf="!(shouldApprove$ | async)">
          {{ isSwapping ? 'Swapping' : 'Swap' }}
        </button>
      </div>
    </div>
  </div>
  <!-- swap detail -->
  <!-- 这里有一个判断 -->
  <!-- :class="(tokenAAmount && tokenBAmount) && 'open'" -->
  <div class="swap-detail open">
    <div class="sd-content">
      <!-- <div class="sdc-item" style="padding: 0px 20px;" *ngIf="true">
        <div class="sdci-item">
          <div class="sdci-box">
            <div class="sd-title">Minimum received</div>
            <span style="margin-left: 4px;">
              <div class="sdh-box">
                ❓
              </div>
            </span>
          </div>
          <div class="sdci-box">
            <div class="sd-token">
              20 ETH
            </div>
          </div>
        </div>
        <div class="sdci-item">
          <div class="sdci-box">
            <div class="sd-title">Price Impact</div>
            <span style="margin-left: 4px;">
              <div class="sdh-box">
                ❓
              </div>
            </span>
          </div>
          颜色判断
          :class="priceImpactClassName"
          <div class="sd-percentage">100%</div>
        </div>
        <div class="sdci-item">
          <div class="sdci-box">
            <div class="sd-title">Liquidity Provider Fee</div>
            <span style="margin-left: 4px;">
              <div class="sdh-box">
                ❓
              </div>
            </span>
          </div>
          <div class="sd-token">
            20 ETH
          </div>
        </div>
      </div> -->
      <ng-container *ngIf="from$ | async as from">
      <ng-container *ngIf="to$ | async as to">
        <div class="sd-line"></div>
        <div class="sdc-item" style="padding: 0px 24px;">
          <div class="sdci-box">
            <div class="sd-title">Route</div>
            <span style="margin-left: 4px;">
              <div class="sdh-box">
                <mat-icon>help</mat-icon>
              </div>
            </span>
          </div>
          <div class="sd-route" style="border: 1px solid rgb(64, 68, 79); border-radius: 1rem;">
            <!-- *ngFor="let item of list" -->
            <div class="sdr-item" style="flex-shrink: 0;" :key="idx">
              🤔
              <div class="sdri-symbol">{{ from.name }}</div>
            </div>
            <mat-icon>chevron_right</mat-icon>
            <div class="sdr-item" style="flex-shrink: 0;" :key="idx">
              🤔
              <div class="sdri-symbol">{{ to.name }}</div>
            </div>
          </div>
        </div>
      </ng-container>
      </ng-container>
    </div>
  </div>
</div>
