:host
  display flex

.status-border
  border-radius 12px
  align-items center

.node-info
  background rgba(243, 132, 30, 0.05)
  color rgb(243, 132, 30)
  padding 0.5rem
  margin-right 0.5rem

.account-info
  display flex
  background-color rgb(64, 68, 79)

  .balance
    padding 0 0.75rem

.address
  padding 0.5rem
  background-color rgb(44, 47, 54)
  border 1px solid rgb(64, 68, 79)
  color rgb(255, 255, 255)
  &:hover
    background-color rgb(55, 59, 68)


