<!-- before -->
<app-nav-tabs></app-nav-tabs>
<div class="content" *ngIf="swUSD$ | async as swUSD">
  <div *ngIf="swUSD.balance.gt(0); else noLiquidity">
    <div>{{ swUSD.name }}</div>
    <div>Pool token: {{ swUSD.balance | bignumber:swUSD.decimals}}</div>

    <a routerLink="/add">
      Add Liquidity
    </a>
    <a routerLink="/remove">
      Remove Liquidity
    </a>
  </div>
  <ng-template #noLiquidity>
    <a routerLink="/add">
      Add Liquidity
    </a>
  </ng-template>
</div>

<!-- after -->
<app-nav-tabs></app-nav-tabs>
<div class="content">
  <div *ngIf="position$ | async as position; else noLiquidity">
    <div>Pool token: {{ position.lpToken.balance | bignumber:position.lpToken.decimals}}</div>
    <div>Your pooled USDT: {{ position.pooledTokens.usdt.balance | bignumber:position.pooledTokens.usdt.decimals }}</div>
    <div>Your pooled USDT: {{ position.pooledTokens.usdj.balance | bignumber:position.pooledTokens.usdj.decimals }}</div>

    <a routerLink="/add">
      Add Liquidity
    </a>
    <a routerLink="/remove">
      Remove Liquidity
    </a>
  </div>
</div>